<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/news.html">News</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">THiCC Lab Members</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/projects.html">Projects</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/publications.html">Publications</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/interviews.html">Interviews</a>

<!--
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li> -->